<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>withdraw</title>
</head>
<body>
  <h2>withdraw Form</h2>
  <form method="POST">
    <label>User ID:</label><br>
    <input type="text" name="user_id" required><br><br>

    <label>Amount ($):</label><br>
    <input type="text" step="0.01" name="wallet address" required><br><br>

    <label>Screenshot URL:</label><br>
    <input type="text" name="screenshot" placeholder="Paste link"><br><br>

    <button type="submit">Submit </button>
  </form>
</body>
</html>
